@charset "UTF-8";

@font-face {
  font-family: "Pretendard-Regular";
  src: url("https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff")
    format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "MangoGrotesque-Regular";
  src: url(../fonts/mangoGrotesque/MangoGrotesque-Regular.ttf);
}

@font-face {
  font-family: "GT-America";
  src: url(/assets/fonts/GT-America-Standard-Thin-Trial.otf);
}
html {
  scroll-behavior: smooth;
}
body {
  padding-top: 140px;
  background-color: var(--neonblack);
  font-size: 16px;
  /* 생략 */
}
