:root {
  --black: #000;
  --white: #fff;
  --neonblack: #0e090d;
  --neongreen: #a7ff50;
  --neonpink: #e60c55;
}

body {
  font-size: 16px;
}

.wrap {
  background-color: var(--neonblack);
  width: 100%;
  max-width: 1663px;
  margin: 0 auto;
}

section {
  width: 100%;
  height: auto;
}
/* 헤더 */
.container {
  padding: 0 12.8rem;
  margin: 0 auto;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2.5rem 12.8rem;
  z-index: 999;
  background-color: var(--neonblack);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

header .logo {
  font-family: "MangoGrotesque-Regular";
  font-size: 4em;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  color: var(--white);
}

header .menu .menu_list {
  display: flex;
  gap: 6.8rem;
  font-family: "MangoGrotesque-Regular";
  font-size: 1.8rem;
  /**/
  color: var(--white);
}
header .menu .mo_menu_list {
  display: none;
}
/*헤더 반응형*/
@media screen and (max-width: 768px) {
  header {
    justify-content: center;
  }

  header .logo {
    font-size: 3em;
  }

  header .menu .menu_list {
    gap: 3rem;
    padding-left: 5em;
  }
  .menu_list li {
    text-align: center;
    width: 100%;
    font-size: 1em;
  }
}
/* 섹션 01
 */
.section01 {
  height: 100vh;
  position: relative;
  background-color: var(--neonblack);
  overflow-x: clip;
  font-family: "MangoGrotesque-Regular";
}

.section01_img {
  position: relative;
  display: inline-block;
}

.section01_img img {
  width: 36vw;
  height: auto;
  animation: float 4s ease-in-out infinite;
}

.floating {
  animation: float 3s ease-in-out infinite;
}

@keyframes float {
  0% {
    transform: translateY(0);
    transform: translateX(0);
  }

  50% {
    transform: translateY(-20px);
  }

  100% {
    transform: translateY(0);
  }
}

.section01 .section01_inner {
  color: var(--white);
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: left;
}

.title01 {
  position: relative;
}

.title01 h2 {
  font-size: 136px;
  text-align: center;
  font-weight: 500;
}

.title01 small {
  position: absolute;
  right: 80px;
  font-size: 24px;
}

.title01 small::before {
  content: "\f111";
  font-family: "Font Awesome 5 Free";
  font-weight: 600;
  color: var(--neongreen);
  padding-right: 10px;
  font-size: 10px;
}

.title02 {
  font-size: 106px;
}
/* 반응형*/
@media screen and (max-width: 768px) {
  .section01_inner h2,
  small,
  .title02 {
    font-size: 4em;
  }

  .section01_inner {
    padding-top: 15em;
  }

  .title01 {
    position: absolute;
    left: 40%;
    top: 9em;
    transform: translateX(-40%);
  }

  small {
    top: 3em;
    width: 100%;
    left: 50%;
    transform: translate(-50%);
  }

  .title02 {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 9em;
  }

  .section01_img {
    left: -50%;
    scale: 2;
    top: 5em;
  }
}
/* 섹션 02 */

.section02 {
  height: 100vh;
}

.section02 .section02_inner {
  display: flex;
  justify-content: space-between;
}
.section02 .section02_inner .section02_img img {
  width: 400px;
  height: 400px;
}
.section02 .section02_text {
  text-align: left;
  color: var(--white);
  position: relative;
}

.section02_text h2 {
  font-size: 3em;
  letter-spacing: -5px;
  padding-bottom: 70px;
  font-weight: 500;
}

.section02_text .section02_text02 {
  font-size: 32px;
  letter-spacing: -2px;
  font-weight: 400;
  display: flex;
  gap: 120px;
  margin-top: 0px;
}

/*about me 텍스트*/
.section02_text02 li h3 {
  font-size: 28px;
  font-family: "Pretendard-Regular";
  letter-spacing: -1px;
  font-weight: 600;
  margin-bottom: 16px;
}
.section02_text02 h3::before {
  content: "\f111";
  font-family: "Font Awesome 5 Free";
  font-weight: 600;
  color: var(--neongreen);
  font-size: 10px;
  padding-right: 10px;
}
.section02_text02 .skill_img {
  display: flex;
}
.section02_text02 .skill_wrap {
  margin-top: 16px;
}
.section02_text02 li {
  font-size: 20px;
  font-family: "Pretendard-Regular";
  padding-bottom: 8px;
}
.section02_text02 li img {
  width: 44px;
}
.section02_text02 li .tag {
  padding-bottom: 4px;
  font-weight: 700;
}
.section02_text02 .edu_wrap .certi {
  padding-top: 28px;
}

.section02_text02 .skill .section02_inner small {
  position: absolute;
  left: 0;
  font-size: 18px;
  bottom: -50px;
}

.left_text .edu_wrap .edu_text ul {
  display: flex;
  gap: 30px;
  justify-content: space-between;
}

/* 섹션 03 */

.section03 {
  overflow: hidden;
}

.section03_inner h2 {
  color: var(--white);
  font-family: "MangoGrotesque-Regular";
  font-size: 128px;
  font-weight: 400;
  text-align: center;
  padding-bottom: 50px;
}

.section03_text {
  color: var(--white);
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 60px;
}

.section03_text .left_text h3 {
  font-size: 80px;
  font-family: "MangoGrotesque-Regular";
  font-weight: 300;
}

.section03_inner small::before {
  content: "\f111";
  font-family: "Font Awesome 5 Free";
  font-weight: 600;
  color: var(--neonpink);
  font-size: 10px;
  padding-right: 10px;
}

.section03_img {
  display: flex;
  gap: 20px;
  padding: 80px 0;
}

.section03_img .img-wrap {
  overflow: hidden;
  margin: 0 auto;

  margin-right: 10px;
}
.section03_img .img-wrap .btn-wrap {
  display: flex;
  gap: 50px;
  justify-content: center;
}
.section03_img .img-wrap .btn-wrap .port-btn {
  background-color: white;
  width: 150px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  border-radius: 8px;
  margin-top: 30px;
  cursor: pointer;
}
.btn-wrap .port-btn:hover {
  color: var(--neonpink);
}
.section03_img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/*섹션04*/
.section04 .section04_text {
  width: 1461px;
  margin: 160px 0;
}
.section04 .section04_text ul li {
  color: var(--white);
  height: 121px;
  line-height: 121px;
  font-size: 84px;
  font-family: "GT-America";
  text-align: left;
}
.section04 .section04_text ul li img {
  padding: 0 45px;
}
.section04 .btn_gotop {
  display: flex;
  justify-content: center;
  padding-bottom: 40px;
}
.section04 .btn_gotop .up i {
  color: var(--white);
  scale: 2;
}
